*{
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: rgb(128, 128, 128);
}
nav ul li {
    display: inline-block;
    margin-left: 100px;
    text-align: center;
    padding-top: 1px;
    
}
nav{
    height: 150px;
    line-height: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
 a{
    text-decoration: none;
    color:rgb(192, 186, 186);
padding-bottom: 100px;
text-align: center;

}
#logo{ 
    margin-top: 10px;
} 
#b{
    
    width :960px;
    height: 450px;
    margin-left: 100px;
    padding-top: 60px;

}
