*{
    box-sizing: border-box;
}
header{
    display: inline-block;
    margin-left: 100px;
    width: 1000px;
    height: 40px;
    padding-bottom: 100px;
    background-color: rgb(128, 128, 128);
}
nav ul li {
    display: inline-block;
    margin-left: 100px;
    text-align: center;
    padding-top: 1px;

    

    
}
nav{
    height: 50px;
    line-height: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
 a{
    text-decoration: none;
    color:rgb(192, 186, 186);
    padding-bottom: 100px;
    text-align: center;
    


}
#logo{ 
    margin-top: 10px;
    display: inline-block;
    margin-bottom: -30px;
    margin-left: -60px;
} 
 #b{
  
    width :960px;
    height: 450px;
    margin-left: 120px;
    padding-top: 0px; 
    /* background-color: black;  */

}

footer{
margin-left: 100px;
margin-right: 100px;    
     height: 100px;
background-color: rgb(95, 89, 89);

}
li img{
    display: inline-block;
    margin-bottom: 1px;
    margin-left: 90px;
    float: left;

    
}
p{

width: 500px;
height: 500px;
padding: 20px;
float: right;
margin-top: 20px;
margin-right :350px;
margin-top: -400px ;
}
img{
    margin-bottom: 1px;
    margin-left: 90px;
display: inline-block;
}

button {

   display: inline-block; 
   float: right;
   margin-right :-170px;
   margin-top: -20px;
   background-color: black;
   color: white;
height: 30px;
width: 150px;
}
   
 